<%- include("partials/header") %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Blog</title>

<div class="bg"> 
  <br><br><br><br>
  <!-- Page Content -->
  <div class="container">

    <div class="row">
  
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h1 class="my-4">บทความ</h1>
        <div class="card md-4">
        <% post.forEach(function(posts){ %>
        
         
        
          <img class="card-img-top" src="<%= posts.image %>" alt="Card image cap" >
          <div class="card-body">
            <h2 class="card-title"><%= posts.title %></h2>
            <p class="card-text"><%- descText(posts.desc,400) %>
            </p>
            <a href="/blog/showblog/<%= posts._id %>" class="btn btn-primary">อ่านเพิ่มเติม &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            โพสเวลา <%= moment(posts.date).format("DD-MM-YYYY")%> โดย
            <a href="/blog/post/show/?author=<%= posts.author%>"><%= posts.author %></a>, <a href="/blog/post/show/?catablog=<%= posts.catablog%>"><%= posts.catablog %></a>
          </div>
          <% }) %>
        </div>
        <!-- Blog Post -->
       
        </div>
        <!-- Side Widget -->
        <%-include sideblog %>
      </div>
  </div>
</div>


<style>
  .bg{
   background-color: #dae1e7;
  }
  h1{
    font-family: 'Kanit', sans-serif;  
  }
  h2{
    font-family: 'Kanit', sans-serif;  
  }
  .container{
    font-family: 'Kanit', sans-serif;  
  }
</style>
<%-  include("partials/footer") %>

  

    

        