<%- include("partials/header") %>
        <br><br><br><br>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 

  <!-- Page Content -->
  <div class="container">

    <div class="row">
  
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <h1 class="my-4">บทความ</h1>

        <% post.forEach(function(posts){ %>
        
         
        <div class="card mb-4">
          <img class="card-img-top" src="<%= posts.image %>" alt="Card image cap" >
          <div class="card-body">
            <h2 class="card-title"><%= posts.title %></h2>
            <p class="card-text"><%- descText(posts.desc,400) %>
            </p>
            <a href="/showblog/<%= posts._id %>" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            โพสเวลา <%= moment(posts.date).format("DD-MM-YYYY")%> โดย
            <a href="#"><%= posts.author %></a>, <a href="#"><%= posts.catablog %></a>
          </div>
          <% }) %>
        </div>

        <!-- Blog Post -->

      </div>

        <!-- Side Widget -->
        <%-include sideblog %>
         
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  

    
<%-  include("partials/footer") %>
        