<%- include("partials/header") %>
<title>Cart</title>
<div class="bg">
<br><br><br><br>
   <div class="container my-4">
       <h2>ตะกร้าสินค้า</h2>
    <table class="table my-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">รหัสสินค้า</th>
            <th scope="col">ชื่อสินค้า</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคา</th>
            <th scope="col">รวม</th>
          </tr>
        </thead>
        <tbody>
          <% cart.item.forEach(function(product){ %>
          <tr>
            <td>
                <a href="/products/show/<%= product.item %>"><%= product.item %></a>
            </td>
            <td><%= product.title %></td>
            <td><%= product.qty %></td>
            <td><%= formatMoney(product.price) %></td>
            <td><%= formatMoney(product.price * product.qty) %></td>
          </tr>
          <% }) %>
          <tr>
              <td>
                 <a class="clearcart btn btn-danger" href="/products/cart/clear">Clear cart</a>
              </td>
              <td></td>
              <td></td>
              <th>ราคารวม = </th>
              <td>
                <%= formatMoney(cart.total) %>
              </td>
          </tr>
        </tbody>
      </table>
      
      
      
   </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<style>
  .bg{
    background-color: #dae1e7;
    font-family: 'Kanit', sans-serif;
  }
  h2{
    font-family: 'Kanit', sans-serif;
  }
</style>
   <script>

      $('a.clearcart').on('click',function(){
        if(!confirm('confirm deletion'))
          return false
      })

   </script>


<%-  include("partials/footer") %>