<%- include("partials/header") %>
<title>Topic</title>
<div class="bg">
<br><br><br><br>
    <div class="container">
        <% Projects.forEach(function(project){ %>
            <img src="/images/<%= project.image %>" alt="">
            <h3><%= project.name %></h3>
            <p><%= project.desc %></p>
            <p><%= project.date %></p>
        
        <% }) %>
        <br>
    </div>

<style>
    .bg,h3{
    background-color: #dae1e7;
    font-family: 'Kanit', sans-serif;
  }
</style>

<%-  include("partials/footer") %>