<style>
  .img-crop
{
  width: 100%;
  object-fit: cover;
  object-position: top; 
  border: 1px solid;
  border-color:white;
  cursor: pointer;
  height: 300px;
}
.bg{
  background-color: #85cdca;
}
</style>
<div class="bg">
<div class="container">
  <div class="row">
    <div class="col-lg-12 my-4">
      <div class="row">
        <% Projects.forEach(function(project){ %>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="/home/details/<%= project._id %>"><img  src="/images/<%= project.image %>" class="img-crop"></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#"><%= project.name %></a>
              </h4>
              <h6><%= project.date %></h6>
              <p class="card-text"><%= descText(project.desc,50) %>...</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                    <a href="/home/details/<%= project._id %>">See More</a>
              </small>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
</div>    
    