<%- include("partials/header") %>
<title>Edit Profile</title>
<div class="bg">
    <br><br><br><br>
<div class="container">
    <div class="main" id="imagepreview">
        <img src="/images/<%= user.image %>" id="image" width="500px" height="500px" alt=""> 
    </div>
    <aside class="sidebar">
        <h1 style="font-size:30px;text-align: center;">แก้ไขโปรไฟล์</h1>
        <% if(user){ %>
        <form class="form-group" action="/profile/edit" method="post" enctype="multipart/form-data">
            <input type="hidden" name="name" value="<%= user.name %>">
            <input type="hidden" name="password" value="<%= user.password %>">
            <input type="hidden" name="id" value="<%= user._id %>">
            <div class="from-group">
                <label for="" class="headtext">Email::</label>
                <input type="email" name="email" value="<%= user.email %>" class="form-control">
            </div><br>
            <div class="from-group">
                <label for="" class="headtext">Location::</label>
                <input type="text" name="location" value="<%= user.location %>" class="form-control">
            </div><br>
            <div class="from-group">
                <label for="" class="headtext">Phone number::</label>
                <input type="text" name="callnumber" value="<%= user.callnumber %>" class= "form-control">
            </div><br>
            <div id="imageselect">
                <label for="" class="headtext">Picture::</label>
                <input type="file" name="image" id="img_preview"> <br><br> 
                <input type="submit" name="" value="Update" class="btn" style="width: 100%;background: #e27d5f;text-transform: uppercase; color: #fff;">  
        </form>  
        <% } %>  
    </aside>  
</div><br><br><br>
</div>

<style>
.bg{
    background-color: #85cdca;
}
.container{
    font-family: 'Bitter', serif;
    max-width: 900px;
    background-color: #85cdca;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "main sidebar";
     grid-gap: 60px;
}

.main{
    grid-area: main;
}
.main img{
    border: 1px solid black;
}
.sidebar{
    grid-area: sidebar;
    font-family: 'Poppins', sans-serif; 
    padding: 50px;
}
.form-control{
    font-family: 'Poppins', sans-serif; 
}
.headtext{
    width: 200px;
   color: black;
   margin-right: 10px;
  font-size: 15px;
}
h1{
    font-family: 'Kanit', sans-serif;
}


@media (max-width: 990px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas:
            "sidebar"
            "main" ;
    }
}

</style>


    <script>
        var filename = document.getElementById("img_preview");
            filename.onchange = function()
            {
                var file = filename.files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(){
                    var result = reader.result;
                    document.getElementById("image").src = result;
                };
            };
    </script>




        

       
<%-  include("partials/footer") %>