<%- include("partials/header") %>



<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Profile</title>
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>

 
<br><br><br><br>
<!-- Page Container -->
<%- messages() %>
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <% if(user){ %>
          <img src="/images/<%= user.image %>" style="width:100%" alt="Avatar">
          <% } %>
          <div class="w3-display-bottomleft w3-container w3-text-black">
            
          </div>
        </div>
        <div class="w3-container" style="padding: 20;">
          <% if(user){ %>
              
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i><%= user.name %></p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i><%= user.location %></p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i><%= user.email %></p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i><%=user.callnumber %></p>
          <hr>
          <a href="/profile/edit/<%= user._id %>" class="btn btn-primary">Edit</a>
          <% } %>
          

          
          
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">

        

        </div>
        <div class="w3-container">
          
        </div>
        <div class="w3-container">
         
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        
        <div class="w3-container">
          
        </div>
        <div class="w3-container">
         
        </div>
        <div class="w3-container">
          
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>


<%- include home-layout-02 %>
<script>
   $('#messages').addClass("alert alert-success");
</script>
<%-  include("partials/footer") %>