<%- include("partials/header") %>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">  
    <title>Blog</title>
 </head>
  
  
  <div class="bg">
    <br><br><br><br>
    <!-- Page Content -->
    <div class="container">
  
      <div class="row">
  
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <% post.forEach(function(posts){ %>
          <!-- Title -->
          <h1 class="mt-4"><%= posts.title%></h1>
  
          <!-- Author -->
          <p class="lead">
            by
            <a href="/blog/post/show/?author=<%= posts.author%>"><%= posts.author%></a>
          </p>
  
          <hr>
  
          <!-- Date/Time -->
          <p><%= moment(posts.date).format("DD-MM-YYYY")%></p>
  
          <hr>
  
          <!-- Preview Image -->
          <img class="img-fluid rounded" src="<%= posts.image%>" alt="">
  
          <hr>
  
          <%- posts.desc%>
          <%  }) %>
          <hr>
        </div>
       <%- include sideblog%>
      </div>
      <!-- /.row -->
  
    </div>
    <!-- /.container -->
  </div>
    <!-- Footer -->

<style>
  .bg{
    background-color: #dae1e7;
    font-family: 'Kanit', sans-serif;
  }
  h1{
    font-family: 'Kanit', sans-serif;
  }
</style>


  <%-  include("partials/footer") %>